<template>
   <div class="slds-path">
      <div class="slds-grid slds-path__track">
         <div class="slds-grid slds-path__scroller-container">
            <div class="slds-path__scroller">
               <div class="slds-path__scroller_inner">
                  <ul class="slds-path__nav" role="listbox" aria-orientation="horizontal">
                     <template for:each={list} for:item="each" for:index="index">
                        <template if:false={index}>
                           <li class="slds-path__item slds-is-current" role="presentation" data-id={each.key}
                              key={each}>
                              <a aria-selected="false" class="slds-path__link" href="javascript:void(0);" id={index}
                                 role="option" tabindex="-1">
                                 <span class="slds-path__stage">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                       <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                 </span>
                                 <span class="slds-path__title">{each.value}</span>
                              </a>
                           </li>
                        </template>
                        <template if:true={index}>
                           <li class="slds-path__item slds-is-incomplete" role="presentation" data-id={each.key}
                              key={each}>
                              <a aria-selected="false" class="slds-path__link" href="javascript:void(0);" id={index}
                                 role="option" tabindex="-1">
                                 <span class="slds-path__stage">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                       <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                 </span>
                                 <span class="slds-path__title">{each.value}</span>
                              </a>
                           </li>
                        </template>
                     </template>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>